.container {
    height: 100vh;
    width: 100vw;

    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    p {
        font: var(--text-md);
        color: var(--text=primary);
        width: 40rem;
        text-wrap: wrap;
        text-align: center;
        line-height: 1.5;
    }
}

.formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.heading {
    font: var(--heading-xl);
    text-align: center;

    &::after {
        display: block;
        content: "";
        position: relative;
        right: 5%;
        width: 110%;
        border: solid var(--border-subtle) 0.1rem;
    }

    &.noDecor {
        &::after {
            display: none;
        }
    }
}

.link {
    font: var(--text-md);
    color: rgba(100, 108, 255, 1);
    text-decoration: none;
    cursor: pointer;

    &:hover {
        color: rgba(100, 108, 255, 0.8);
    }
}

.checkEmailImage {
    width: 20rem;
    height: 20rem;
    background: url("/assets/Icons/Check-Email.png") no-repeat;
    background-size: contain;
}

.errorsContainer {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--error);
    font: var(--text-md);
}
