/*===== Dropdown Trigger =====*/

.dropdownTrigger {
    display: flex;
    --priority: var(--priority-4);
    --priority-bg: var(--priority-4-bg);
}

/*===== Trigger =====*/

.trigger {
    height: 2.5rem;
    border-radius: 0.5rem;
    border: 0.1rem solid var(--priority-bg);
    background-color: rgba(from var(--priority-bg) r g b/ 0.05);

    display: inline-flex;
    align-items: center;
    gap: 0.5rem;

    padding: 0.7rem;
    color: var(--priority) !important;
    transition:
        background 120ms ease,
        transform 120ms ease,
        opacity 120ms ease;
}

.trigger:hover {
    background-color: rgb(from var(--priority-bg) r g b/ 0.1);
}

/*===== Active =====*/

.active &,
.active * {
    transform: scale(0.95);
}

/*===== Dropdown =====*/

.dropdown {
    transform-origin: top right;
    border-radius: 1rem;
    overflow: hidden;
    background: transparent;
}

.menu {
    display: flex;
    gap: 0.75rem;
    background-color: rgb(from var(--bg-primary) r g b / 0.9);
    padding: 1rem;
}

.button {
    display: flex;
    flex-direction: column;
    justify-content: center;

    gap: 0.5rem;

    padding: 0.3rem 1rem;

    border-radius: 0.5rem;
    border: 0.1rem solid var(--priority-bg);

    color: var(--priority);
    background-color: transparent;

    cursor: pointer;

    font: var(--Text-3);

    transition:
        background-color 0.2s ease,
        border-color 0.2s ease;

    &:hover {
        background-color: var(--priority-bg);
        border-color: var(--priority);
    }
}

/*===== Priority Styles ===== */

.p1 {
    --priority: var(--priority-1);
    --priority-bg: var(--priority-1-bg);
}

.p2 {
    --priority: var(--priority-2);
    --priority-bg: var(--priority-2-bg);
}

.p3 {
    --priority: var(--priority-3);
    --priority-bg: var(--priority-3-bg);
}

.p4 {
    --priority: var(--priority-4);
    --priority-bg: var(--priority-4-bg);
}
