PORT=3000
MONGODB_URI=mongodb://mongo:27017 # Inter-container networking
DB_NAME=todo-app
ACCESS_TOKEN_SECRET=replace-me
ACCESS_TOKEN_EXPIRY=15m
REFRESH_TOKEN_SECRET=replace-me
REFRESH_TOKEN_EXPIRY=15D
CORS_ORIGINS=http://localhost:9000

# Intercontainer networking with server can't work here,
# because react not make server call, browser do. and browser is on host machine not container
VITE_API_URL=http://localhost:9001/api/v1
