.InputComponent {
    --activeColor: rgba(25, 118, 210, 0.8);
    --bgColor: white;
    position: relative;
    font:var(--Text-3);

    & input {
        height: 4rem;
        width: 40rem;
        padding-inline: 1rem;

        background-color: var(--bgColor);
        color: rgba(0, 0, 0, 0.8);

        border: 0.05rem solid rgba(0, 0, 0, 0.3);
        border-radius: 0.3rem;

        transition: all 0.3s;
    }

    & label {
        z-index: 1;
        position: absolute;
        padding-inline: 0.3rem;

        transition: all 0.3s;

        color: rgba(0, 0, 0, 0.5);
        background-color: var(--bgColor);

        &.passive {
            top: 1.3rem;
            left: 1rem;
            font-size: 1.4rem;
        }

        &.active {
            top: -0.5rem;
            left: 0.5rem;
            font-size: 1.2rem;
        }
    }

    &:hover {
        input {
            border-color: rgba(0, 0, 0, 0.7);
        }
        label {
            color: rgba(0, 0, 0, 0.7);
        }
    }

    &:focus-within {
        input {
            border: 0.2rem solid var(--activeColor);
            outline: none;
            padding-inline: 0.8rem;
        }
        .active {
            color: var(--activeColor);
        }
    }
}
