.AuthPageContainer {
    height: 100vh;
    width: 100vw;

    position: relative;

    p {
        font: var(--Text-1);
        color: var(--Primary-Text);
        width: 40rem;
        text-wrap: wrap;
        text-align: center;
        line-height: 1.5;
    }
}

.AuthPageLogo {
    height: 7rem !important;

    position: absolute;
    top: 2rem;
    left: 2rem;
}

.AuthFormContainer {
    height: 50rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.AuthPageHeading {
    font: var(--Heading-1);
    font-size: 3rem;
    text-align: center;
    width: 40rem;
    &::after {
        display: block;
        content: "";

        margin-top: 1rem;
        width: 45rem;
        border: solid rgba(0, 0, 0, 0.1) 0.1rem;
    }

    &.noDecor {
        &::after {
            display: none;
        }
    }
}

.AuthPageLink {
    font: var(--Text-1);
    color: rgba(100, 108, 255, 1);
    text-decoration: none;
    cursor: pointer;

    &:hover {
        color: rgba(100, 108, 255, 0.8);
    }
}

.AuthPageCheckEmailImage {
    width: 20rem;
    height: 20rem;
    background: url("../../assets/Icons/Check-Email.png") no-repeat;
    background-size: contain;
}

.GoogleButton {
    width: 100%;
}

.AuthPageErrorsContainer {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .AuthPageError {
        color: red;
    }
}
 