/*===== Dropdown Trigger =====*/

.dropdownTrigger {
    display: flex;
}

/*===== Trigger =====*/

.trigger {
    height: 2.5rem;
    border-radius: 0.5rem;

    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    border: 0.1rem solid rgba(from var(--date-color) r g b/ 0.2);
    background-color: rgba(from var(--date-color) r g b/ 0.05);

    padding: 0.7rem;
    color: var(--date-color, var(--text-secondary)) !important;
    text-wrap: nowrap;

    transition:
        background 120ms ease,
        transform 120ms ease,
        opacity 120ms ease;
}

.trigger:hover {
    background-color: rgba(from var(--date-color) r g b/ 0.1);
}

/*===== Active =====*/

.active,
.active * {
    transform: scale(0.95);
}

/*===== Dropdown =====*/
.dropdown {
    transform-origin: top right;
    border-radius: 1rem;
    overflow: hidden;
}
