:root {
    --Primary-BG: #1e1e1e;
    --Secondary-BG: #262626;
    --Primary-Text: #ffffff;
    --Secondary-Text: #cccccc;
    --Disabled: #808080;
    --Hover-BG: #ca9e5733;

    --Accent-BG: #de4c4a33;
    --TaskBox-P4: #adadad;
    --TaskBox-P4-BG: rgba(from var(--TaskBox-P4) r g b/ 30%);

    --BorderColor1: rgba(255, 255, 255, 0.1);
    --BorderColor2: rgba(255, 255, 255, 0.2);
    --BorderColor3: rgba(255, 255, 255, 0.3);
    --BorderColor4: rgba(255, 255, 255, 0.4);
}
 