:root {
    --Primary-BG: #ffffff;
    --Secondary-BG: #fcfaf8;
    --Primary-Text: #202020;
    --Secondary-Text: #676767;
    --Accent-BG: #de4c4a1a;
    --Disabled: #999999;
    --Hover-BG: #ca9e571a;

    --TaskBox-P4: #676767;
    --TaskBox-P4-BG: rgba(from var(--TaskBox-P4) r g b/ 30%);

    --BorderColor1 : rgba(0, 0, 0, 0.1);
    --BorderColor2: rgba(0, 0, 0, 0.2);
    --BorderColor3 : rgba(0, 0, 0, 0.3);
    --BorderColor4:rgba(0, 0, 0, 0.4); 
}
 