
@font-face {
    font-family: Ubuntu-sans;
    src: url("../assets/Fonts/UbuntuSans.ttf") format("truetype");
}

@font-face {
    font-family: Montserrat;
    src: url("../assets/Fonts/Montserrat.ttf") format("truetype");
}

:root {
    --Accent-Color: #de4c4a;

    --TaskBox-P1: #ff2d55;
    --TaskBox-P2: #ff9500;
    --TaskBox-P3: #0071ff;

    --TaskBox-P1-BG: rgba(from var(--TaskBox-P1) r g b/ 30%);
    --TaskBox-P2-BG: rgba(from var(--TaskBox-P2) r g b/ 30%);
    --TaskBox-P3-BG: rgba(from var(--TaskBox-P3) r g b/ 30%);

    --Serif-Font: Montserrat, system-ui, Avenir, Helvetica, Arial, sans-serif;
    --Sans-Serif-Font: Ubuntu-sans,system-ui, Avenir, Helvetica, Arial, sans-serif;

    --Heading-1: 700 2.4rem var(--Serif-Font);
    --Heading-2: 600 2.0rem var(--Serif-Font);
    --Heading-3: 500 1.6rem var(--Serif-Font);
    --Text-1: 500 1.4rem var(--Sans-Serif-Font);
    --Text-2: 400 1.2rem var(--Sans-Serif-Font);
    --Text-3: 300 1.0rem var(--Sans-Serif-Font);

    --DateOverdue: #d1453b;
    --DateToday: #4B9244;
    --DateTomorrow: #E69641;
    --DateThisWeek: #8647D9;
    --DateNextWeek: #0071ff;
    --DateDefault: var(--Disabled); 
} 
