.FileUploadContainer {
    border: 0.1rem dashed var(--Disabled);
    border-radius: 10px;
    padding: 2rem;
    width: 40rem;
    aspect-ratio: 16/9;
    text-align: center;
    cursor: pointer;
    margin-top : 3rem;
    position: relative;

    .FileUploadLabel {
        font-size: 2rem;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font: var(--Heading-2);
        color: var(--Primary-Text);
    }
    .FileUploadInput {
        width: 100%;
        height: 100%;
        display: flex;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
        cursor: pointer;
    }

    .FileUploadCrossButton {
        display: flex;
        align-items: center;
        justify-content: center;

        z-index: 1;
        position: absolute;
        
        top: -1rem;
        right: -1rem;

        background: none;
        border: none;

        transition-duration: 0.3s;
        cursor: pointer;
        * {
            fill: var(--Accent-Color);
        }

        &:hover {
            scale: 1.2;
        }
    }

    img {
        height: 20rem;
        object-fit: cover;
        border-radius: 10px;
    }

    .FileUploadHeading{
        position: absolute;
        top: -1.5rem;
        left: 1rem;
        font: var(--Text-1);
        color: var(--Secondary-Text);
        background-color: var(--Primary-Bg);
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
    }
}
