.trigger {
    cursor: pointer;
    border: none;
    background-color: transparent;
}

.trigger:disabled {
    cursor: not-allowed;
}

.menu {
    position: fixed;
    z-index: 9999;
    min-width: max-content;
    margin-top: 0;
    outline: none;
    background-color: transparent;
    box-shadow: 0 0 0.5rem 0.1rem rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
    border-radius: 0.8rem;
    animation: dropdownEnter 160ms ease;
    transform-origin: top;
}

@keyframes dropdownEnter {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
