.SideBarHeaderContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: fit-content;
    padding: 10px;
    align-items: center;

    .SideBarHeaderText {
        width: 0;
        opacity: 0;
        transform: translateX(0.5rem);
        transition: all 500ms;
        overflow: hidden;
        text-wrap: nowrap;
        font: var(--Text-1);
        color: var(--Primary-Text);
    }
 
    .SideBarHeaderVIcon {
        transition-duration: 300ms;
    }

    .SideBarHeaderBellIcon { 
        transition-duration: 300ms;
    }

    .SideBarHeaderLeft,
    .SideBarHeaderRight {
        display: flex;
        flex-direction: row;
        height: fit-content;
        align-items: center;
    }
    .SideBarHeaderLeft{
        gap: 0.5rem;
        width: 6rem;
        flex-shrink: 0;
        transition: width 300ms ease;
    }

    button {
        border: none;
        background-color: transparent;
        cursor: pointer;
        padding: 0.5rem;
        border-radius: 0.5rem;

        &:hover{
            background-color: var(--Hover-BG);
        }
    }
}

.SideBarHeaderContainer.SideBarHeaderExpanded {

    .SideBarHeaderLeft{
        width: 12rem;
    }

    .SideBarHeaderText {
        position: relative;
        width: 100%;

        transform: translateX(0rem);
        opacity: 1;
    }

    .SideBarHeaderVIcon {
        transform: rotate(180deg);
    }

    .SideBarHeaderBellIcon {
        transform: translateX(-1rem);
        opacity: 0;
    }
}
