.page {
    position: relative;

    width: 100vw;
    height: 100vh;

    overflow: hidden;

    background-color: var(--bg-primary);
}

/* ---------- SIDEBAR ---------- */

.sidebar {
    position: fixed;
    top: 0;
    left: 0;

    z-index: 1000;

    height: 100vh;
}

/* ---------- MAIN CONTENT ---------- */

.content {
    height: 100%;

    display: flex;
    justify-content: center;

    overflow: hidden;
    padding-right: 4rem;

    padding-left: 26rem;

    transition: padding-left 0.2s ease;
}

.sidebarCollapsed .content {
    padding-left: 5rem;
}

/* ---------- CENTERED CONTENT ---------- */

.contentInner {
    display: flex;
    flex-direction: column;

    overflow: hidden;
    transition: width 0.1s ease;
}

.list .contentInner {
    width: min(100%, 1100px);
}

.board .contentInner {
    width: 100%;
}
