.button {
    display: flex;
    align-items: center;
    gap: 0.6rem;

    padding: 0.75rem 1.25rem;
    border-radius: 0.5rem;

    cursor: pointer;

    transition: all 0.2s ease;
}

.secondary {
    border: 0.1rem solid var(--border-muted);

    background-color: transparent;

    color: var(--text-primary);

    &:hover {
        border-color: var(--border-subtle);
        color: var(--text-secondary);
    }
}

.primary {
    border: 0.1rem solid var(--accent);
    background-color: var(--accent);
    color: var(--white);

    &:hover {
        opacity: 0.8;
    }
}

.button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}
