/* <--------------------- 'Basic Rule' ---------------------> */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*                 --------***--------                 */

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    background: var(--bg-primary);
    color: var(--text-primary);
    font: var(--text-md);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@font-face {
    font-family: Ubuntu-sans;
    src: url("../assets/Fonts/UbuntuSans.ttf") format("truetype");
}

@font-face {
    font-family: Montserrat;
    src: url("../assets/Fonts/Montserrat.ttf") format("truetype");
}

:root {
    --Accent-Color: #de4c4a;

    --TaskBox-P1: #ff2d55;
    --TaskBox-P2: #ff9500;
    --TaskBox-P3: #0071ff;

    --TaskBox-P1-BG: rgba(from var(--TaskBox-P1) r g b/ 30%);
    --TaskBox-P2-BG: rgba(from var(--TaskBox-P2) r g b/ 30%);
    --TaskBox-P3-BG: rgba(from var(--TaskBox-P3) r g b/ 30%);

    --Serif-Font: Montserrat, system-ui, Avenir, Helvetica, Arial, sans-serif;
    --Sans-Serif-Font: Ubuntu-sans, system-ui, Avenir, Helvetica, Arial, sans-serif;

    --Heading-1: 700 2.4rem var(--Serif-Font);
    --Heading-2: 600 2rem var(--Serif-Font);
    --Heading-3: 500 1.6rem var(--Serif-Font);
    --Text-1: 500 1.4rem var(--Sans-Serif-Font);
    --Text-2: 400 1.2rem var(--Sans-Serif-Font);
    --Text-3: 300 1rem var(--Sans-Serif-Font);

    --DateOverdue: #d1453b;
    --DateToday: #4b9244;
    --DateTomorrow: #e69641;
    --DateThisWeek: #8647d9;
    --DateNextWeek: #0071ff;
    --DateDefault: var(--Disabled);

    /*Light Theme :*/

    --Primary-BG: #ffffff;
    --Secondary-BG: #fcfaf8;
    --Primary-Text: #202020;
    --Secondary-Text: #676767;
    --Accent-BG: #de4c4a1a;
    --Disabled: #999999;
    --Hover-BG: #ca9e571a;

    --TaskBox-P4: #676767;
    --TaskBox-P4-BG: rgba(from var(--TaskBox-P4) r g b/ 30%);

    --BorderColor1: rgba(0, 0, 0, 0.1);
    --BorderColor2: rgba(0, 0, 0, 0.2);
    --BorderColor3: rgba(0, 0, 0, 0.3);
    --BorderColor4: rgba(0, 0, 0, 0.4);
}

/* Dark Theme :*/
.dark {
    --Primary-BG: #1e1e1e;
    --Secondary-BG: #262626;
    --Primary-Text: #ffffff;
    --Secondary-Text: #cccccc;
    --Disabled: #808080;
    --Hover-BG: #ca9e5733;

    --Accent-BG: #de4c4a33;
    --TaskBox-P4: #adadad;
    --TaskBox-P4-BG: rgba(from var(--TaskBox-P4) r g b/ 30%);

    --BorderColor1: rgba(255, 255, 255, 0.1);
    --BorderColor2: rgba(255, 255, 255, 0.2);
    --BorderColor3: rgba(255, 255, 255, 0.3);
    --BorderColor4: rgba(255, 255, 255, 0.4);
}
