/* ===== Container ===== */
.container {
    --transition: 200ms ease;
    --color: var(--text-disabled);

    width: 100%;
    border-radius: 0.6rem;
    color: var(--text-primary);

    transition:
        background-color var(--transition),
        color var(--transition);

    &:hover {
        background-color: var(--bg-hover);
    }
}

.selected,
.selected:hover {
    background-color: var(--bg-accent);
    color: var(--accent);
}

.container:hover .actions,
.container:focus-within .actions,
.container.editing .actions {
    opacity: 1;
    transform: translateX(0);
    pointer-events: auto;
}

.content {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    gap: 1rem;

    padding: 0.55rem 0.9rem;
}

/* ===== Left ===== */

.left {
    min-width: 0;
    width: 100%;
    display: flex;
    align-items: center;

    gap: 0.8rem;
    flex: 1;
    cursor: pointer;
}

.icon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 0.5rem;

    color: var(--selectedColor);
}

.name {
    min-width: 0;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    font: var(--text-md);
}

/* ===== Right ===== */

.right {
    display: flex;
    align-items: center;
    gap: 0.35rem;
}

.actions {
    display: flex;
    align-items: center;
    gap: 0.15rem;
    pointer-events: none;

    opacity: 0;
    transform: translateX(4px);
    transition:
        opacity var(--transition),
        transform var(--transition);
}

.actions button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.3rem;
    border: none;
    border-radius: 0.45rem;

    background: transparent;

    cursor: pointer;

    transition:
        background-color var(--transition),
        color var(--transition);
}

.actions button:disabled {
    opacity: 0.4;
    cursor: default;
}

/* Edit */
.editButton {
    color: var(--text-secondary);
    &:hover {
        background-color: var(--bg-hover);
    }
}

/* Delete */
.deleteButton {
    color: var(--error);
    &:hover {
        background-color: rgba(from var(--error) r g b / 10%);
    }
}

/* Number */
.number {
    font: var(--text-md);
    color: var(--text-secondary);
}
