.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.input {
    width: fit-content;
    height: 6rem;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;

    .error {
        color: var(--Accent-Color);
        font: var(--Text-2);
    }
}
