/*===== Container =====*/

.container {
    width: fit-content;

    display: flex;
    flex-direction: column;

    padding-top: 1rem;
    border-radius: 1rem;
    background-color: rgb(from var(--bg-primary) r g b/ 0.9);

    position: relative;
    user-select: none;
}

/*===== Top Action Buttons =====*/

.topButtons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 0.5rem;
    width: 100%;
}

.actionButton {
    --action-color: var(--text-primary);

    all: unset;
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 0.7rem;

    cursor: pointer;

    border: 1px solid var(--border-subtle);
    color: var(--action-color);

    transition:
        background-color 140ms ease,
        border-color 140ms ease;
}

.actionButton:hover {
    color: var(--action-color);
    background-color: rgb(from var(--action-color) r g b / 0.12);
    border-color: var(--action-color);
}

.actionButton:active {
    background-color: rgb(from var(--action-color) r g b / 0.5);
    border-color: var(--action-color);
}

.actionButton:focus-visible {
    outline: 2px solid var(--action-color);
    outline-offset: 2px;
}

/*===== Variants =====*/

.todayButton {
    --action-color: var(--green-500);
}

.tomorrowButton {
    --action-color: var(--orange-600);
}

.weekendButton {
    --action-color: var(--blue-500);
}

.mondayButton {
    --action-color: var(--purple-500);
}

.clearButton {
    --action-color: var(--text-secondary);
}

/*===== Calendar =====*/

.calendar {
    width: 30rem;
    min-height: 32rem;
}

.dateCalendar {
    width: 100% !important;
}

/*===== MUI Overrides =====*/

.dateCalendar :global(.MuiDateCalendar-root) {
    width: 100%;
}

.dateCalendar :global(.MuiPickersCalendarHeader-label) {
    font: var(--heading-md);
}

.dateCalendar :global(.MuiButtonBase-root *) {
    width: 2rem;
    height: 2rem;
    color: var(--text-secondary);
}

.dateCalendar :global(.MuiDayCalendar-weekDayLabel) {
    width: 3.2rem;
    height: 3.2rem;

    border-radius: 0.6rem;

    font: var(--text-sm);
    font-weight: 700;

    color: var(--text-primary);
    background-color: var(--bg-accent);
}

.dateCalendar :global(.MuiPickersDay-root) {
    width: 3.2rem;
    height: 3.2rem;

    border-radius: 0.7rem;

    font: var(--text-sm);
    color: var(--text-primary);

    transition: background-color 120ms ease;
}

.dateCalendar :global(.MuiDayCalendar-weekContainer) {
    margin-top: 0.5rem;
}

.dateCalendar :global(.MuiPickersDay-root:hover) {
    background-color: var(--bg-hover);
}

.dateCalendar :global(.MuiPickersDay-today) {
    border: 0.1rem solid var(--border-strong) !important;
}

.dateCalendar :global(.Mui-selected) {
    background-color: var(--accent) !important;
    color: var(--white);
}

.dateCalendar :global(.Mui-selected:hover) {
    background-color: var(--accent) !important;
}
